<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    <gazebo>
        <plugin name="omni_drive_controller" filename="libomni_drive_controller.so">
            <!-- wheels -->
            <frontLeftJoint>front_left_wheel_joint</frontLeftJoint>
            <rearLeftJoint>rear_left_wheel_joint</rearLeftJoint>
            <frontRightJoint>front_right_wheel_joint</frontRightJoint>
            <rearRightJoint>rear_right_wheel_joint</rearRightJoint>
            
            <wheel_separation>0.4</wheel_separation>
            <wheel_separation>0.4</wheel_separation>
            
            <wheel_diameter>0.1</wheel_diameter>
            <wheel_diameter>0.1</wheel_diameter>
            
            <max_wheel_torque>50</max_wheel_torque>
            <max_wheel_acceleration>10.0</max_wheel_acceleration>
            
            <publish_odom>true</publish_odom>
            <publish_odom_tf>true</publish_odom_tf>
            <publish_wheel_tf>true</publish_wheel_tf> 
            <update_rate>10.0</update_rate>
            <!-- Odometry and base frame -->
            <odometry_frame>odom</odometry_frame>
            <robot_base_frame>base_link</robot_base_frame>
        </plugin>
    </gazebo>
</robot>
